/* футер контакты rgba(255, 255, 255, 0.6); */

/* цвет заголовков #212121,
		 кроме h1- #FFFFFF */

/* цвет текста #757575 */

/* акцент #2196F3 */

/* основной цвет фона bgc	#2F303A */
/* фон шапки #FFFFFF*/
/* фон секции #E5E5E5  #F5F4FA */

:root {
	--primary-text-color: #757575;
	--title-text-color: #212121;
	--accent-color: #2196f3;
}

body {
	color: var(--primary-text-color);
}
.title {
	color: var(--title-text-color);
}
/* header */

.logo {
	color: var(--accent-color);
}

.list {
	list-style: none;
}
/* или убрать точки в списках можно ul {list-style: none} , это в том случае. если они нигдде не нужны */

/* site-nav and site-auth */
.nav .link {
	color: var(--title-text-color);
}
.nav .link:hover,
.nav .link:focus {
	color: var(--accent-color);
}
.nav .link.current {
	color: var(--accent-color);
}

.auth .link {
	color: #757575;
}
.auth .link:hover,
.auth .link:focus {
	color: var(--accent-color);
}

/* Hero */
.hero {
	background-color: #2f303a;
}
.hero .title {
	color: #ffffff;
}
/* button */
.button {
	color: #ffffff;
	background-color: var(--accent-color);
}

/* особенности */

.team {
	background-color: #f5f4fa;
}
/* footer */
.footer {
	background-color: #2f303a;
}
.address {
	color: #ffffff;
}
.footer .link {
	color: rgba(255, 255, 255, 0.6);
}
/* PORTFOLIO */

.filter .button {
	background-color: #f5f4fa;
	color: var(--title-text-color);
}
.filter .button:hover,
.filter .button:focus {
	background-color: var(--accent-color);
	color: #ffffff;
}
